stages:
  - check
  - broadcast

pytest-py353:
  image: python:3.5.3
  stage: check
  script:
    - export PYTHONPATH="${PYTHONPATH}:$(pwd)"
    - pip install -r requirements.txt
    - >
      py.test
      --verbose
      --cov-report term
      --cov=cauldron
      .

pytest-py35:
  image: python:3.5
  stage: check
  script:
    - export PYTHONPATH="${PYTHONPATH}:$(pwd)"
    - pip install -r requirements.txt
    - >
      py.test
      --verbose
      --cov-report term
      --cov=cauldron
      .

pytest-py36:
  image: python:3.6
  stage: check
  script:
    - export PYTHONPATH="${PYTHONPATH}:$(pwd)"
    - pip install -r requirements.txt
    - >
      py.test
      --verbose
      --cov-report term
      --cov=cauldron
      .

pytest-py37:
  image: python:3.7
  stage: check
  script:
    - export PYTHONPATH="${PYTHONPATH}:$(pwd)"
    - pip install -r requirements.txt
    - pip install codecov coveralls codacy-coverage
    - >
      py.test
      --verbose
      --cov-report xml:"$(pwd)/coverage.xml"
      --cov-report term
      --cov=cauldron
      .

pytest-py38:
  image: python:3.8
  stage: check
  coverage: '/^TOTAL.*\s+\d+\s+\d+\s+(\d+)%/'
  script:
    - export PYTHONPATH="${PYTHONPATH}:$(pwd)"
    - pip install -r requirements.txt
    - >
      py.test
      --verbose
      --cov-report term
      --cov=cauldron
      .
  artifacts:
    paths:
      - .coverage
      - coverage.xml
    expire_in: 1 day

pytest-py39:
  image: python:3.9.0rc2
  stage: check
  # It takes too long to build everything from source at this point
  # so this is disabled until wheels start appearing.
  when: manual
  allow_failure: true
  script:
    - export PYTHONPATH="${PYTHONPATH}:$(pwd)"
    - pip install -r requirements.txt
    - >
      py.test
      --verbose
      --cov-report term
      --cov=cauldron
      .

codecov:
  image: python:3.8
  stage: broadcast
  script:
    - pip install codecov
    - ls -la
    - codecov

coveralls:
  image: python:3.8
  stage: broadcast
  script:
    - pip install coveralls
    - ls -la
    - coveralls --verbose
