include LICENSE
include README.rst
include cauldron/settings.json
recursive-include cauldron/resources/web *
recursive-include cauldron/resources/examples *
recursive-include cauldron/resources/templates *
