/*
  Material Design Icons
  http://google.github.io/material-design-icons/
*/

@font-face {
  font-family: 'material-icons';
  font-style: normal;
  font-weight: 400;
  src: local('material-icons'),
  local('material-icons-regular'),
  url(icon_font/Material-Icons-Regular.woff2) format('woff2'),
  url(icon_font/Material-Icons-Regular.woff) format('woff'),
  url(icon_font/Material-Icons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'material-icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-small { font-size: 18px; }
.material-icons.md-medium { font-size: 24px; }
.material-icons.md-large { font-size: 36px; }
.material-icons.md-xlarge { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Rules for custom colors */
.material-icons.orange600 { color: #FB8C00; }
