.cd-plotly-box {
  /*
  This was replaced by `.cd-plotly-box-v2`, which has scoped inline styling
  for touch/non-touch support. This is preserved only to prevent rendering
  issues looking at notebooks generated prior to the update.
   */
  margin: 0;
  padding: 0;
  min-height: 250px;
}
