<div class="cd-project-step"
     id="{{ "project-step" | id }}"
     data-step-name="{{ id }}"
>
  <a class="step-anchor" name="{{ id }}" data-type=""></a>
  <div class="cd-project-step__header cd-project-step__header--standard"
       data-default-modifier="cd-project-step__header--standard"
  >

    <div
      id="{{ "title-box" | id }}"
      class="title-box {{ 'clicker opened' if body else '' }}"
      data-closes="#{{ "body" | id }}|#{{ "code" | id }}|#{{ "cd-StdErr__body" | id }}"
      data-opens="#{{ "body" | id }}"
      data-marks-closed="#{{ "code-toggler" | id }}|#{{ "cd-StdErr__titleBox" | id }}"
      onclick="CAULDRON.collapse('{{ "title-box" | id }}')"
    >
      {% if has_body %}
      <i class="material-icons closed-icon">keyboard_arrow_down</i>
      <i class="material-icons opened-icon">keyboard_arrow_up</i>
      {% endif %}
      <div>
        <div class="title cd-step-title">{{ title if title else id }}</div>
        {% if subtitle %}
        <div class="subtitle">{{ subtitle }}</div>
        {% endif %}
      </div>
    </div>

    <div class="spacer"> </div>

    <div class="button-bar">
      {% if code %}
      <div id="{{ "code-toggler" | id }}"
           class="clicker closed centered"
           data-closes="#{{ "code" | id }}"
           data-opens="#{{ "code" | id }}"
           onclick="CAULDRON.collapse('{{ "code-toggler" | id }}')">
        code
        <i class="material-icons closed-icon">keyboard_arrow_down</i>
        <i class="material-icons opened-icon">keyboard_arrow_up</i>
      </div>
      {%  endif %}
    </div>
  </div>

  {% if code %}
  <div class="cd-CodeBlock code-box"
       id="{{ "code" | id }}"
       style="display:none"
  >
    <div class="cd-CodeBlock__toolbar code-toolbar">
      <div class="spacer"></div>
      <div class="cd-CodeBlock__toolButton tool-button"
           onclick="CAULDRON.changeFontSize('#{{ "code" | id }} .code-wrapper', -1)"
      >
        -
      </div>
      <div class="cd-CodeBlock__toolButton tool-button"
           onclick="CAULDRON.changeFontSize('#{{ "code" | id }} .code-wrapper', 0)"
      >
        100%
      </div>
      <div class="cd-CodeBlock__toolButton tool-button"
           onclick="CAULDRON.changeFontSize('#{{ "code" | id }} .code-wrapper', 1)"
      >
        +
      </div>
    </div>
    <div class="cd-CodeBlock__wrapper code-wrapper"
         data-font-size="0.6"
         data-font-size-default="0.6"
         style="font-size: 0.6em"
    >
      <div class="cd-CodeBlock__FileBox code-file-box">
        {{ code.code }}
      </div>
    </div>
  </div>
  {% endif %}

  {% if body or std_err %}
  <div id="{{ "body" | id }}"
       class="cd-project-step-body"
       {% if not has_body %}
         style="display:none;"
       {% endif %}
  >

      {% if std_err %}
      {% include "StdErr.html" %}
      {% endif %}
      <div class="cd-ProjectStep__bodyInner">{{ body }}</div>
  </div>
  {%  endif %}

  {% if is_running and (progress or progress_message) %}
    {% include "step-status.html" %}
  {% endif %}

  {% if error %}
    <a class="step-anchor" name="{{ id }}--error" data-type="--error"></a>
    {{ error }}
  {% endif %}
  <a class="step-anchor" name="{{ id }}--end" data-type="--end"></a>
</div>
