.RunStripStep {
  $background: #a6e4a0;
  $color: #449959;

  $background-selected: #51b76a;
  $color-selected: white;

  &--running {
    background-color: $background;
    color: $color;
    fill: $color;

    &Selected {
      background-color: $background-selected;
      color: $color-selected;
      fill: $color-selected;
    }
  }

  &__overlay--running {
    background-color: $background;
    color: $color;
    border: 1px solid saturate(darken($background, 10%), 10%);

    &Selected {
      background-color: $background-selected;
      color: $color-selected;
      border: 1px solid saturate(darken($background-selected, 10%), 10%)
    }
  }
}
