.cd-project-step .code-box {
  padding: 0.5em;
  background-color: #f4f4f4;

  .code-wrapper {
    line-height: 1.5;
    font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace;

    .linenos {
      opacity: 0.4;
      padding-right: 12px;
    }
  }

  .code-toolbar {
    @extend .centered;
  }

  .tool-button {
    @extend .clicker;

    background-color: #333;
    color: #FFF;
    font-size: 0.7em;
    border-radius: 0.5em;
    padding: 0.4em 1.2em 0.5em 1.2em;
    margin: 0 0.4em;

    &:hover {
      background-color: #AAA;
      color: black;
    }
  }
}